* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  text-align: center;
  /* change^^, enter code here */
}
*{
  font-family: Arial;
  color: #fff;
  background-color: #282c34;
 
 }  /*Applies to entire page*/

header{
  text-align: center;
} /*React Weather App*/

.container{
  display: flex;
  justify-content: space-between;
}

.search-box{
  display: block;
  width: 50%;
  margin: 0 0 75px;
}

.search-box .searchbar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}
.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}
 main{
  min-height: 100vh;
  background-image: url('./Images/cold.jpg.jpg');
  padding: 25px;
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.main-info-box{
  text-align: center;
  padding: 20px;
  height: 200px;
  width: 200px;
  
}

.location, .temperature, .description, .date{
align-items: center;
padding: 10px;
}

.location, .description{
  font-size: 20px;
}

.temperature{
  font-size: 50px;;
}

.date{
  font-size: 10px;
}

.extra-info-box{
    border-radius: 25px;
    border: 2px solid #fff;
    background: #472fcf;
    padding: 10px;
    width: 200px;
    height: relative;
    opacity: 0.5; 
}

.pressure, .precip, .humidity, .feels-like{
  background: #472fcf;
  padding: 20px;
  font-size: 20px;

}

footer{
  /* insert code here */
}

.app.warm{
  background-image: url('./Images/warm.jpg.jpg');
}
.app.cold{
  background-image: url('./Images/cold.jpg.jpg');
}


