* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  text-align: center;
  /* change^^, enter code here */
}


main {
  min-height: 100vh;
  background-image: url('./Images/cold.jpg.jpg');
  padding: 25px;
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

footer{
  /* insert code here */
}

.app.warm{
  background-image: url('./Images/warm.jpg.jpg');
}
.app.cold{
  background-image: url('./Images/cold.jpg.jpg');
}


